@charset "UTF-8";

.tabbar {
	width: 100%;
	overflow: hidden;
	color: #000000;
	background-color: #f1f1f1
}

table button {
	width: 60px;
	height: 28px;
	font-size: 16px;
	font-family: Times New Roman;
}

.tabbar button {
	padding: 8px 16px;
	float: left;
	color: #000000;
	background-color: #f1f1f1;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	font-size: 16px;
	white-space: normal;
	font-family: Times New Roman;
}

.tabbar button:hover {
	background: #ddd;
    color: white;
}