@charset "UTF-8";
/* all contents in this file referred to the CSS style in 
   https://www.w3schools.com/w3css/w3css_buttons.asp*/

.tabbar {
	width: 100%;
	overflow: hidden;
	color: #000000;
	background-color: #f1f1f1
}

table button {
	width: 60px;
	height: 28px;
	font-size: 16px;
	font-family: Times New Roman;
}

.tabbar button {
	padding: 8px 16px;
	float: left;
	color: #000000;
	background-color: #f1f1f1;
	width: auto;
	border: none;
	display: block;
	outline: 0;
	font-size: 16px;
	white-space: normal;
	font-family: Times New Roman;
}

.tabbar button:hover {
	background: #ddd;
    color: white;
}

.rest {
	position: relative;
	height: calc(50vh - 103px);
	overflow: scroll;
}