@charset "UTF-8";
* {
	margin: 0px;
	padding: 0px;
}

textarea {
	position: relative;
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    /* resize: none; */
}

input[type='text'] {
	padding: 2px;
	border: 1px solid #ccc;
	width: 180px;
	height: 23px;
	border-radius:1px;
	font-size: 16px;
	font-family: Times New Roman;
}

select {
	padding: 2px;
	border: 1px solid #ccc;
	width: 180px;
	height: 30px;
	border-radius:1px;
	font-size: 16px;
	font-family: Times New Roman;
}

select.boolean {
	width: 80px
}

ul>li {
  list-style: none;
}

a.selectGraph, a.cell {
  background: darkcyan;
  color: white;
  display: block;
  width: 100px;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid white;
}

a.selectGraph input.subgraph {
  float: right;
}

#wildMatch {
    border: 1px solid black;
    width: 100%;
    table-layout: fixed;
}

#wildMatch>ul{
    text-align: center;
}

#myholder {
	z-index: 0;
}

#right_up {
	overflow-y: hidden;
}

#textselect {
	position: relative;
	height: calc(50vh - 70px);
	font-size: 16px;
	overflow-y: scroll;
}

#textedit {
	position: relative;
	height: calc(50vh - 70px);
	overflow-y: hidden;
}

