@charset "UTF-8";
/* all contents in this file referred to the CSS style in 
   https://blog.csdn.net/no2015214099/article/details/73196652*/
   
#dh {
	position: relative;
	margin-top: 0px;
	width: 618px;
	height: 40px;
	border: 0px;
	background-color: #0099CC;
	z-index: 1;
}

#dh ul {
	padding: 0px;
}

#dh a {
	color: #FFF;
	width: 103px;
	height: 40px;
	display: block;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	font-family: Times New Roman;
	font-weight: 2px;
}

#dh {
	margin: 0px auto;
}

#dh ul li {
	list-style: none;
	float: left;
}

#dh ul li a:hover {
	background-color: #6699FF;
}

#dh ul:hover {
	display: block;
}

#dh ul li ul {
	background-color: #0099CC;
	position: absolute;
	display: none;
}

#dh ul li ul li {
	float: none;
	background-color: #6688EE;
}

#dh ul li ul li a {
	font-size: 13px;
	font-weight: 0px;
}

#dh ul li ul li button {
	font-size: 13px;
	font-weight: 0px;
}

#dh ul li:hover ul { 
	display: block;
}
