@charset "UTF-8";
#menu ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#menu li
{
float:left;
}
#save ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
#save li
{
float:none;
}
input
{
display:block;
width:120px;
font-weight:bold;
color:#FFFFFF;
background-color:#ccccff;
text-align:center;
padding:4px;
text-decoration:none;
}