@charset "UTF-8";

/* The navigation bar */
#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Links inside the navbar */
#navbar a.left {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    width: 70px;
    height: 40px;
}

#navbar a.right {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    width: 100px;
    height: 40px;
}

/* Change background on mouse-over */
#navbar a:hover {
    background: #ddd;
    color: black;
}

#tabs {
    overflow: hidden;
    background-color: #808000;
}

#tabs a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
    width: 120px;
    height: 15px;
}

#tabs a:hover {
    background: #ddd;
    color: black;
}